
table{
  margin: auto;
  text-align: center;
}

input{
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  background-color: #E0E0E0;
  width: 100px;
  height: 80px;
  float: left;
  margin: 0;
  font-size: 14px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.zero{
  width: 200px;
}

.orange{
  background-color: #F5913E;
  position: relative;
}


#clear{
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
  margin-bottom: 15px;
}

.display{
  width: 394px!important;
  font-size: 26px;
  text-align: right;
  background-color: #858693;
  float: left;
  color: white;
}

