* {
  font-family: sans-serif;
}

body {
  background: rgb(255, 138, 0);
  background: linear-gradient(360deg, #acacac 0%, rgba(255, 255, 255, 1) 33%);
  background-position: bottom;
  min-height: 60vw;
}

table {
  margin: auto;
  text-align: center;
}

button {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  background-color: #e0e0e0;
  width: 100px;
  height: 80px;
  float: left;
  margin: 0;
  font-size: 14px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.zero {
  width: 200px;
}

.orange {
  background-color: #f5913e;
  position: relative;
}

#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
  margin-bottom: 15px;
}

.display {
  width: 400px;
  height: 80px;
  margin-left: 6px;
  font-family: sans-serif;
  font-size: 46px;
  vertical-align: middle;
  text-align: right;
  background-color: #858693;
  float: left;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

#logo {
  color: orangered;
  float: left;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.calcContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.calcTitle {
  font-size: 32px;
  margin: 200px 0 0 40px;
}

.quote {
  text-align: center;
  font-size: 24px;
  margin: 250px;
}

.home {
  font-size: 18px;
  margin: 100px 50px;
}

.links {
  text-decoration: none;
  color: black;
}
